[run]
source = RCAIDE
omit =
    */site-packages/*
    */tests/*
    setup.py
    */__init__.py
branch = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    raise ImportError